In [1]:
#Series is a one-dimensional labeled array capable of
#holding data of any type (integer, string, float, python objects, etc.).
#The axis labels are collectively called index.
#pandas.Series( data, index, dtype, copy)
import pandas as pd 
import numpy as np 
data = np.array(['a','b','c','d']) 
s = pd.Series(data,index=[100,101,102,103]) 
print( s)

100    a
101    b
102    c
103    d
dtype: object

In [2]:
#A Data frame is a two-dimensional data structure,
#i.e., data is aligned in a tabular fashion in rows and columns.
import pandas as pd 
data = [['Alex',10],['Bob',12],['Clarke',13]] 
df = pd.DataFrame(data,columns=['Name','Age'])
df

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [9]:
import pandas as pd 
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])} 
df = pd.DataFrame(d) 
print (df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [10]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])} 
df = pd.DataFrame(d) 
print (df ['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [12]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 'two' : pd.Series([1, 10, 3, 4], index=['a', 'b', 'c', 'd'])} 
df = pd.DataFrame(d) 
print( df.loc['b'])

one     2.0
two    10.0
Name: b, dtype: float64

In [13]:
import pandas as pd 
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])} 
df = pd.DataFrame(d) 
print( df.iloc[2])

one    3.0
two    3.0
Name: c, dtype: float64

In [15]:
import pandas as pd 
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])} 
df = pd.DataFrame(d) 
print(df)
print(df[2:4])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
   one  two
c  3.0    3
d  NaN    4

In [5]:
#Add new rows to a DataFrame using the append function. 
import pandas as pd
d = {'one' : pd.Series([11, 12, 13,14], index=['a', 'b', 'c','d']), 'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)
import pandas as pd
d = {'one' : pd.Series([31, 32, 33,44], index=['e', 'f', 'g','h']), 'two' : pd.Series([51, 52, 53, 54], index=['e', 'f', 'g','h'])}
df2 = pd.DataFrame(d)
print(df2)
df3=df.append(df2)
print(df3)

   one  two
a   11    1
b   12    2
c   13    3
d   14    4
   one  two
e   31   51
f   32   52
g   33   53
h   44   54
   one  two
a   11    1
b   12    2
c   13    3
d   14    4
e   31   51
f   32   52
g   33   53
h   44   54